<h1 class="text-center">EDITAR PROGRAMA</h1>

<div class="modal-content text-center">

  <%= simple_form_for @programa do |f|%>

  <div class="formulario">
    <div id="color_letra" class="col-lg-6 col-md-3 col-sm-3">
    </br>
      <div  class="form-group">
          <%= f.input :codigo, placeholder:"Codigo Programa"%>
      </div>

  <div class="form-group">
    <%= f.input :nombre, placeholder:"Nombre Programa"%>
  </div>

  <div class="form-group">
<%= f.input :encargado, placeholder:"Jefe de Programa"%>
  </div>

  <div class="form-group">
<%= f.association :facultad, label_method: :nombre%>
  </div>

        <div class="actions">
          <%= f.submit 'Guardar', class: "btn btn-success active",
          method: :edit, data: {confirm:'Actualizar Programa'}%>
          <%= link_to 'Regresar', programas_path,
          class: "btn btn-ttc active"%>
        </div>

      </br>
</div>
</div>
<%end%>
</div>
