<h1 class="text-center">REGISTRO DE PROGRAMAS</h1>

</br>
<div class="modal-content text-center">
<div class="table-responsive">
<table class="table">

<thead>
  <div class="row">
    <tr class="success">
      <th class="text-center" colspan="2">Editar Programa</th>
      <th class="text-center">Reg. SNIES</th>
      <th class="text-center">Programa</th>
      <th class="text-center">Jefe De Programa</th>
      <th class="text-center">Facultad</th>
    </tr>
  </div>
</thead>

<% @programas.each do |programa|%>

<tbody>
  <div class="row">
    <tr class="text-center">
    <td colspan="2" class="warning">
    <%= link_to programa.id, programa_path(programa), class:"btn btn-warning active"%></td>
    <td><%= programa.codigo%></td>
    <td><%= programa.nombre%></td>
    <td><%= programa.encargado%></td>
    <td><%= programa.facultad.nombre%></td>
    </tr>
  </div>
</tbody>

    <%end%>

  </table>
</div>

</br>
</br>
</br>
</div>
