<br>
<br>
<div class="modal-content">
<div class="col-lg-12">
<h1 class="page-header" style="color:#337ab7;">REGISTRAR PROGRAMA</h1>
</div>
<br/>
<br/>
<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
<div class="panel-body">
<%= simple_form_for @programa do |f|%>
<div class="container"
<div class="col-md-8 col-md-offset-2">
<div class="card" style="color:#337ab7;">
<div class="card-body d-flex justify-content-between align-items-center">
<%= f.input :codigo,
  placeholder:"Reg. SNIES"%>
&nbsp
  <%= f.input :nombre,
   placeholder:"Nombre Programa"%>
&nbsp
  <%= f.input :encargado,
  placeholder:"Jefe de Programa"%>
<p><br>
  <%= f.association :facultad, label_method: :nombre%>
  &nbsp
  &nbsp
  &nbsp
  <%= f.submit 'Guardar', method: :new,
    data: { confirm: 'Guardar Programa' },
     class:"btn btn-primary active"%>
  </p>
</div>
</div>
</div>
</div>
<%end%>
</div>
</div>
</div>
