<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Actualmente en espera de confirmación para: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Déjalo en blanco si no quieres cambiarlo",
                required: false
                input_html: { autocomplete: "Nueva-Contraseña" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "Nueva-Contraseña" } %>
    <%= f.input :current_password,
                hint: "Necesitamos su contraseña actual para confirmar sus cambios.",
                required: true,
                input_html: { autocomplete: "Contraseña Actual" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancelar Mi Cuenta", registration_path(resource_name),
data: { confirm: "Desea Cancelar La Cuenta ?" }, method: :delete %></p>

<%= link_to "Regresar", :back %>
