<div id="wrapper">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 box-login">
                <div class="modal-content">
                    <div class="panel-heading">
                      <span><center><i class="fa fa-users fa-5x"></i></center></span>
                      </br>
                        <h1 class="page"><center>Registrarse</center></h1>
                    </div>
<div class="panel-body">
  <fieldset>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <center><%= f.button :submit, "Registrar", class:"btn btn-primary active" %></center>
  </div>
<% end %>
</br>
<%= render "devise/shared/links" %>
</fieldset>
</div>
</div>
</div>
</div>
</div>
