<h1 class="page-header" style="color:#337ab7;">EDITAR EGRESADO</h1>
<div class="form-group" style="color:#337ab7;">
  <div class="modal-content">
    <div class="panel-default">
      <div class="panel-heading" style="color:#337ab7;"><i class="fa fa-user-circle-o"> Editar Usuario</i>
        </div>
  <div class="panel-body">
  <%= simple_form_for @egresado do |f|%>
  <div class="row">
    <div class="col-xs-4">
          <%= f.input :nombre, placeholder:"Digite Nombre"%>
      </div>

      <div class="col-xs-4">
          <%= f.input :apellidos, placeholder:"Digite Apellidos"%>
      </div>

      <div class="col-xs-4">
          <%= f.input :correo, placeholder: "Digite correo"%>
      </div>

  <div class="col-xs-4">
      <%= f.input :ingreso%>
  </div>

  <div class="col-xs-4">
      <%= f.input :egreso%>
  </div>

  <div class="col-xs-4">
      <%= f.association :facultad, label_method: :nombre%>
  </div>

  <div class="col-xs-4">
      <%= f.association :programa, label_method: :nombre%>
  </div>

  <div class="col-xs-4">
      <%= f.input :contingente, placeholder:"Digite Contingente "%>
  </div>

  <div class="col-xs-4">
      <%= f.input :telefono, placeholder: "Digite Telefono"%>
  </div>

  <div class="col-xs-4">
      <%= f.input :direccion, placeholder: "Digite Direccion"%>
  </div>


        <div class="col-xs-4">
          <%= f.submit 'Guardar', class: "btn btn-success active",
          method: :edit, data: {confirm:'Actualizar Egresado'}%>
          <%= link_to 'Regresar', egresados_path,
          class: "btn btn-info active"%>
        </div>

</div>
<%end%>
</div>
</div>
</div>
</div>
