<h1 class="text-center" style="color:#337ab7;">REGISTRO DE EGRESADOS</h1>
<br>
<br>
<div class="custom-search-form">
<%=form_tag (egresados_path), method: :get do %>
<%=text_field_tag(:search, params[:search], placeholder: "Ingresa nombre")%>
<%= submit_tag ("Buscar"), style:"color:#337ab7;"%>
<%end%>
</div>

<div class="form-group text-right">
<%= link_to '', egresados_path(format: :pdf), method: :get, :target => '_blank', class:"fa fa-file-pdf-o fa-fw fa-2x",style:"color:tomato;"%>
</div>
<div class="modal-content text-center">
<div class="table-responsive">
<table class="table">

<thead>
  <div class="row">
    <tr class="success">
      <th class="text-center" style="color:#337ab7;" colspan="2">Editar Egresado</th>
      <th class="text-center" style="color:#337ab7;">Nombre</th>
      <th class="text-center" style="color:#337ab7;">Apellidos</th>
      <th class="text-center" style="color:#337ab7;">Ingreso</th>
      <th class="text-center" style="color:#337ab7;">Egreso</th>
      <th class="text-center" style="color:#337ab7;">Contingente</th>
      <th class="text-center" style="color:#337ab7;">Facultad</th>
      <th class="text-center" style="color:#337ab7;">Programa</th>
      <th class="text-center" style="color:#337ab7;">Telefono</th>
      <th class="text-center" style="color:#337ab7;">Correo</th>
      <th class="text-center" style="color:#337ab7;">Direccion</th>
    </tr>
  </div>
</thead>

<% @egresados.each do |egresado|%>
<tbody>
  <div class="row">
    <tr class="text-center">
    <td colspan="2" class="warning">
    <%= link_to egresado.id, egresado_path(egresado),class:"btn btn-warning active"%></td>
    <td><%= egresado.nombre%></td>
    <td><%= egresado.apellidos%></td>
    <td><%= egresado.ingreso%></td>
    <td><%= egresado.egreso%></td>
    <td><%= egresado.contingente%></td>
    <td><%= egresado.facultad.nombre%></td>
    <td><%= egresado.programa.nombre%></td>
    <td><%= egresado.telefono%></td>
    <td><%= egresado.correo%></td>
    <td><%= egresado.direccion%></td>
    </tr>
  </div>
</tbody>
    <%end%>
  </table>
  <div><%= paginate @egresados %></div>

</div>
</div>
<br/>
<br/>
