<h1 class="text-center">REGISTRAR EGRESADO</h1>

<div class="content text-center">
<%= simple_form_for @egresado do |f|%>


<div class="formulario">
  <div id="new" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  </br>

  <div class="form-group">
    <%= f.input :nombre,
     placeholder:"Digite Nombre"%>
  </div>

  <div class="form-group">
    <%= f.input :apellidos,
    placeholder:"Digite Apellidos"%>
  </div>

<div class="form-group">
  <%= f.input :ingreso%>
</div>

<div class="form-group">
  <%= f.input :egreso%>
</div>

<div class="form-group">
  <%= f.input :contingente, placeholder:"Digite Contingente"%>
</div>

<div class="form-group">
  <%= f.association  :facultad, label_method: :nombre%>
</div>

<div class="form-group">
  <%= f.association :programa, label_method: :nombre%>
</div>

<div class="form-group">
  <%= f.input :telefono,
   placeholder:"Digite Telefono"%>
</div>

<div class="form-group">
  <%= f.input :correo,
   placeholder:"Digite Correo"%>
</div>

<div class="form-group">
  <%= f.input :direccion,
   placeholder:"Digite Direccion"%>
</div>


<div class="actions">
  <%= f.submit 'Guardar', method: :index, data: { confirm: 'Guardar Egresado' },
  class:"btn btn-success active"%>
</div>
</br>
</br>
</br>
</div>

</div>
<%end%>
