<h1 class="text-center" style="color:#337ab7;">REGISTRO DE FACULTADES</h1>
<br>
<br>
<div class="input-group custom-search-form">
<%=form_tag (facultades_path), method: :get do %>
<%=text_field_tag(:search, params[:search], placeholder: "Nombre facultad")%>
<%= submit_tag ("Buscar"), style:"color:#337ab7;"%>
<%end%>
</div>
<br>
<div class="modal-content text-center">
<div class="table-responsive">
<table class="table">

<thead>
  <div class="row">
    <tr class="success">
        <th class="text-center" style="color:#337ab7;" colspan="2">Editar Facultad</th>
        <th class="text-center" style="color:#337ab7;">Facultad</th>
        <th class="text-center" style="color:#337ab7;">Decano</th>
    </tr>
  </div>
</thead>

<% @facultades.each do |facultad|%>

<tbody>
  <div class="row">
    <tr class="text-center">
    <td colspan="2" class="warning">
    <%= link_to facultad.id, facultad_path(facultad), class:"btn btn-warning active"%></td>
    <td><%= facultad.nombre%></td>
    <td><%= facultad.decano%></td>
    </tr>
  </div>
</tbody>
    <%end%>
  </table>
  <div><%= paginate @facultades %></div>
</div>
<br/>
<br/>
</div>
