<!DOCTYPE html>
<html>
  <head>
    <title>Aplicacion Web</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="/assets/2.png">
    <style>
      
      body{
        background-image: url (images/2.png);
      }
      </style>

  </head>

  <body class="fondo-blur">
    <br>
    <br>
    <br>

<%=yield%>

  </body>
  </html>
