<!DOCTYPE html>
<html>
  <head>
    <title>Aplicacion Web</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="/assets/2.png">
    <style>
        body {font-family: "Lato", sans-serif;
        background-color: #FFFAFA;
     }
    </style>

  </head>

  <body>
    <br>
    <br>
    <br>

<%=yield%>

  </body>
  </html>
